p{
    color: red;
}
.title{
    text-align: center;
    font-size: 40px;
}
.inputfield{
    width: 100px;
    margin: 0 5px;
}
.buttonGen{
    height: 35px; 
    width: 150px; 
    margin: 20px 45%;
    background-color: #4CAF50;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}
.buttonGen:hover{
    background-color: #3a833c;
}
.buttonGen:active{
    background-color: #214b22;
}
.box{
    margin: 0 35%;
}